<h2>Locations</h2>
<div ng-controller='LocationsController'>
  <form novalidate class='location-form'>
    <div class='input'>Where are you? <br> <input name='user' ng-model='locations.user'></div>
    <div class='input'>Where is your friend? <br><input name='user' ng-model='locations.friend'></div>
    <div class='input'><input class="btn btn-danger" type='submit' value='Submit' ng-click='getLocations()'></div>
<!--     <div class='input button'><input type='submit' value='send' ng-click='sendFavorites()'></div> -->
  </form>
  <!-- <div>User: {{ locations.user }}</div> -->
  <!-- <div>Friend: {{ locations.friend }}</div> -->
</div>