<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meet Me Halfway</title>
    <meta name="description" content="Meet Me Halfway">
    <meta name="author" content="Derek Liu">
    <link rel="stylesheet" href="client/styles/styles.css?v=1.0">
  </head>
  <body ng-app='MeetMeHalfwayApp'>
    <div ng-controller='LocationsController'>
      <form novalidate class= 'location-form'>
        <div class='input'>User: <input name='user' ng-model='locations.user'></div>
        <div class='input'>Friend: <input name='friend' ng-model='locations.friend'></div>
        <div class='input button'><input type='submit' ng-click='getLocations()'></div>
      </form>
      <div>User: {{ locations.user }}</div>
      <div>Friend: {{ locations.friend }}</div>
      <script src="client/lib/angular/angular.js"></script>
      <script src="client/app/locations/locations.js"></script>
    </div>
  </body>
</html>